@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.footer {
    width: 100%;
    height: 53px;
    background-color: #010101;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.direitos {
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
    margin-left: 80px;
}

.textoFooter p {
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.textoFooter img {
    margin: 0px 5px;
}

@media(max-width: 555px) {
    .direitos {
        font-size: 8px;
        line-height: 9px;
        margin-left: 50px;
    }

    .textoFooter {
        justify-content: column;
        margin-right: 50px;
    }

    .textoFooter p {
        font-size: 8px;
        line-height: 9px;
    }
    
}

@media(max-width: 375px) {
    .direitos {
        font-size: 8px;
        line-height: 9px;
        margin-left: 16px;
    }

    .textoFooter {
        justify-content: column;
        margin-right: 16px;
    }

    .textoFooter p {
        font-size: 8px;
        line-height: 9px;
    }
    
}