.slide {
    width: 50vw;
}
.slick-list {
    border-radius: 8px 0px 0px 8px;

    background: transparent;
}
.slick-slide {
    margin: 0px 27px;
    width: 320px !important;
    height: 240px !important;

    background: white;
    border-radius: 8px;
}
.each-collaborators {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 320px;
    height: 240px;

    color: black;
}
.each-collaborators img {
    width: 200px;
}