@media (max-width: 767px) {

    .contato {
        flex-direction: column;
    }
    .contato-container {
        justify-content: center;
    }
    .contato-content {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "collaborators"
        "form"
        "social-medias";
        grid-column-gap: 0px;

        padding: 0px;
    }

    .yellow-line-contato {
        width: 100%;
        height: 6px;

        margin: 10px 0px 20px 0px;
    }

    .collaborators {
        width: 100%;
        margin-bottom: 50px;
    }
    .collaborators h1 {
        margin-bottom: 20px;
        font-size: 8vw;
        text-align: center;
    }
    

    .form-contato {
        margin-bottom: 24px;
    }
    .form-contato h1 {
        text-align: center;
        font-size: 8vw;

        margin-bottom: 16px;
    }
    .form-contato form {
        padding: 0px 16px;
    }
    .form-contato input {
        height: 24px;
    }
    .form-contato .button-submit {
        height: 30px;

        margin: auto;
        padding: 0px;
    }

    .social-media {
        background: #010101;
        padding: 27px 18px 12px 18px;
        
        grid-row-gap: 16px;
    }
    .social-media .info-box img {
        width: 24px;
        height: 24px;
    }
    .social-media .info-box span {
        font-size: 10px;
    }

}